{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}Expenses{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'common:admin' %}" class="button">Back to Admin</a>
        <a href="{% url 'expenses:add_expense' %}" class="button phone">Add Expenses</a>
    </div>
    <h2>Expense Totals</h2>
    <div class="column">
        <div class="overall_totals-text">
            <p>Total Fuel Costs: <strong>€{{ totals.fuel|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Wages: <strong>€{{ totals.wages|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Car Repair Costs: <strong>€{{ totals.repair|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Renovations: <strong>€{{ totals.renovations|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Car Wash Costs: <strong>€{{ totals.car_wash|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Toll Costs: <strong>€{{ totals.toll|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Total Tickets Costs: <strong>€{{ totals.fines|floatformat:2|intcomma|default:"0.00" }}</strong></p>
            <p>Other Expenses: <strong>€{{ totals.other|floatformat:2|intcomma|default:"0.00" }}</strong></p>
        </div>
    </div>
    <br>

    {% for expense_type in expense_types %}
        <h3 class="expense-header toggle-header" data-section-id="{{ expense_type|slugify }}-section">
            {{ expense_type|format_expense_type }} Expenses <span id="{{ expense_type|slugify }}-section-arrow">▼</span>
        </h3>
        <table id="{{ expense_type|slugify }}-section" class="table" style="display: none;">
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% with expenses=grouped_expenses|get:expense_type %}
                    {% if expenses %}
                        {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.driver }}</td>
                                <td>€{{ expense.expense_amount_in_euros |intcomma}}</td>
                                <td>{{ expense.expense_date }}</td>
                                <td>{{ expense.expense_time |time_format}}</td>
                                <td>{{ expense.expense_notes|default:"-" |truncate_words_chars}}</td>
                                <td>
                                    <span class="button-group">
                                        <a href="{% url 'expenses:edit_expense' expense.id %}" class="button">Edit</a>
                                        <a href="{% url 'expenses:view_expense' expense.id %}" class="button">View</a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">No expenses recorded for this type.</td>
                        </tr>
                    {% endif %}
                {% endwith %}
            </tbody>
        </table>
        <br>
    {% endfor %}
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}