{% extends 'base/base_admin.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}View Expense{% endblock %}

{% block content %}
<div class="view">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'common:admin' %}" class="button button-orange">Back to Admin</a>
            <a href="{% url 'expenses:expenses' %}" class="button button-orange">Back to Expenses</a>
        </div>
    </div>
    <br>
    <h2>View Expense</h2>
    <p><strong>Driver:</strong> {{ expense.driver.name|default_if_none:"" }}</p>
    <p><strong>Expense Type:</strong> {{ expense.expense_type|default_if_none:"" }}</p>
    <p><strong>Expense Amount:</strong> 
        €{{ expense.expense_amount_in_euros|intcomma|default_if_none:"" }} 
        {% if expense.expense_currency != 'EUR' %} 
            ({% if expense.expense_currency == 'GBP' %}£{% elif expense.expense_currency == 'USD' %}${% elif expense.expense_currency == 'HUF' %}Ft {% else %}{{ expense.expense_currency }}{% endif %}{{ expense.expense_amount|intcomma|default_if_none:"" }}) 
        {% endif %}
    </p>
    <p><strong>Date:</strong> {{ expense.expense_date|date:"F j, Y"|default_if_none:"" }}</p>
    <p><strong>Time:</strong> {{ expense.expense_time|time_format|default_if_none:"" }}</p>
    <p><strong>Notes:</strong> {{ expense.expense_notes|default_if_none:"-" }}</p>

    <div class="button-group">
        <a href="{% url 'expenses:edit_expense' expense.id %}" class="button button-orange">Edit</a>
        <a href="{% url 'expenses:delete_expense' expense.id %}" class="button cancel-button">Delete</a>
    </div>
</div>
<div class="mobile-bottom-nav">
    <a href="{% url 'home' %}" class="mobile-nav-item">
        <i class="fas fa-home" style="color: #007bff;"></i>
        <div style="color: #007bff;">Home</div>
    </a>
    <a href="{% url 'expenses:expenses' %}" class="mobile-nav-item" style="color: orange;">
        <i class="fas fa-receipt" style="color: orange;"></i><span>Expenses</span>
    </a>
    <a href="{% url 'common:admin' %}" class="mobile-nav-item">
        <i class="fas fa-user-shield" style="color: orange;"></i>
        <div style="color: orange;">Admin</div>
    </a>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}