{% extends 'base/base_admin.html' %}
{% load static %}

{% block title %}Edit Driver{% endblock %}

{% block content %}
<div class="container">
    <div class="left-buttons">
        <a href="{% url 'people:manage' %}" class="button button-orange">Back to Manage</a>
    </div>
    <h2>Edit Driver</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name:</label>
            <input type="text" name="name" id="id_name" value="{{ form.name.value }}">
        </div>
        <button type="submit" class="button button-orange">Save Changes</button>
    </form>
    {% if form.errors %}
        <div class="errors">
            <h2>Form Errors:</h2>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}