{% extends 'base.html' %}
{% load static %}

{% block title %}Manage{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'common:admin' %}" class="button">Back to Admin</a>
    </div>
    <h2>Manage Agents</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="agent_form" class="button">Add Agent</button>
    </form>

    <!-- Toggle for Existing Agents -->
    <h3 class="toggle-header" data-section-id="agents-section" style="cursor: pointer;">
        Existing Agents <span id="agents-section-arrow">▼</span>
    </h3>
    <div id="agents-section" style="display: none;">
        <ul>
            {% for agent in agents %}
                <li>
                    {{ agent.name }}
                    <span class="button-group">
                        <a href="{% url 'people:edit_agent' agent.id %}" class="button">Edit</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <br><hr><br>

    <h2>Manage Drivers</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ driver_form.as_p }}
        <button type="submit" name="driver_form" class="button">Add Driver</button>
    </form>

    <!-- Toggle for Existing Drivers -->
    <h3 class="toggle-header" data-section-id="drivers-section" style="cursor: pointer;">
        Existing Drivers <span id="drivers-section-arrow">▼</span>
    </h3>
    <div id="drivers-section" style="display: none;">
        <ul>
            {% for driver in drivers %}
                <li>
                    {{ driver.name }}
                    <span class="button-group">
                        <a href="{% url 'people:edit_driver' driver.id %}" class="button">Edit</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}