{% extends 'base/base_services.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Delete Passenger{% endblock %}

{% block content %}
<div class="container delete">
    <h2>Delete Passenger</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete the passenger {{ shuttle.customer_name }} scheduled on {{ shuttle.shuttle_date|date:"F j, Y" }}?</h3>
        <h2>This action cannot be undone!</h2>
        <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button button-purple">Cancel</a>
        <button type="submit" class="button cancel-button">Confirm Delete</button>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}