{% extends 'base/base_services.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Edit Passengers{% endblock %}

{% block content %}
<div class="container">
    <!-- Modal Trigger for Error -->
    {% if error_message %}
    <p id="modal-trigger" style="display:none;">{{ error_message }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <p><strong>Confirm Shuttle Passengers:</strong> 
                <input class="sbig" type="checkbox" id="id_is_confirmed" name="is_confirmed" {% if form.initial.is_confirmed %}checked{% endif %}>
            </p>
        </div>

        <div class="form-group-inline">
            <div class="field-wrapper">
                {{ form.customer_name.label_tag }}*<br>
                {{ form.customer_name }}
            </div>
            <div class="field-wrapper">
                {{ form.customer_number.label_tag }}*<br>
                {{ form.customer_number }}
            </div>
        </div>
        <div class="field-wrapper">
            {{ form.customer_email.label_tag }}<br>
            {{ form.customer_email }}
        </div>
        <div class="form-group-inline">
            <div class="field-wrapper">
                {{ form.shuttle_date.label_tag }}*<br>
                {{ form.shuttle_date }}
            </div>
            <div class="field-wrapper">
                {{ form.shuttle_direction.label_tag }}*<br>
                {{ form.shuttle_direction }}
            </div>
        </div>
        <div class="form-group-inline">
            <div class="field-wrapper">
                {{ form.no_of_passengers.label_tag }}*<br>
                {{ form.no_of_passengers }}
            </div>
            <div class="field-wrapper">
                {{ form.driver.label_tag }}<br>
                {{ form.driver }}
            </div>
        </div>
        <div class="field-wrapper">
            {{ form.number_plate.label_tag }}<br>
            {{ form.number_plate }}
        </div>
        <div class="field-wrapper">
            {{ form.shuttle_notes.label_tag }}<br>
            {{ form.shuttle_notes }}
        </div>

        <br><br>
        <!-- Payment Section -->
        <div id="payment-section">
            <h3>Payments</h3>
            {{ payment_formset.management_form }}
            
            {% for payment_form in payment_formset %}
                <div class="payment-entry payment-container" data-payment-number="{{ forloop.counter }}">
                    {% if forloop.counter > 1 %}
                        <h4>Payment {{ forloop.counter }}</h4>
                    {% endif %}
                    <div class="form-group-inline">
                        <div class="field-wrapper">
                            <label>Amount</label><br>
                            {{ payment_form.payment_amount }}
                        </div>
                        <div class="field-wrapper">
                            <label>Currency</label><br>
                            {{ payment_form.payment_currency }}
                        </div>
                    </div>
                    <div class="form-group-inline">
                        <div class="field-wrapper">
                            <label>Payment Type</label><br>
                            {{ payment_form.payment_type }}
                        </div>
                        <div class="field-wrapper">
                            <label>Paid To</label><br>
                            {{ payment_form.paid_to }}
                        </div>
                    </div>
                    {{ payment_form.DELETE }}
                    {{ payment_form.id }}
                    <button type="button" class="remove-payment">Remove Payment</button>
                </div>
            {% endfor %}
            
            <button type="button" id="add-payment">Add Payment</button>
        </div>
        
        <br><br>
        <p class="nm">*Required fields</p>

        <div class="button-group">
            <button type="submit" class="button button-purple">Save Changes</button>
            <a href="{% url 'home' %}" class="button cancel-button">Cancel</a>
        </div>
    </form>

    {% if form.errors %}
        <div class="errors">
            <h2>Form Errors:</h2>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<!-- Modal Structure -->
<div id="error-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <p id="modal-message">{{ error_message }}</p>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
<script src="{% static 'edit_payment.js' %}"></script>
{% endblock %}