{% extends 'base/base_services.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}Shuttle{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'home' %}" class="button">Back to Home</a>
            <a href="{% url 'common:services' %}" class="button button-purple">Back to Services</a>
            <a href="{% url 'shuttle:enquiries' %}" class="button button-purple">Enquiries</a>
        </div>
        <a href="{% url 'shuttle:add_passengers' %}" class="button button-purple">Add Passengers</a>
    </div>

    <div class="column">
        <div class="overall_totals-text">
            <p>Total Passengers in {% now "F" %}: <strong>{{ total_passengers_this_month|default:"0" }}</strong></p>
            <p>Total Money in {% now "F" %}: <strong>€{{ total_price_this_month|floatformat:2|intcomma|default:"0.00" }}</strong></p>
        </div>
        <div class="overall_totals-text">
            <p>Total Passengers Overall: <strong>{{ total_passengers|default:"0" }}</strong></p>
            <p>Total Money Overall: <strong>€{{ total_price|floatformat:2|intcomma|default:"0.00" }}</strong></p>
        </div>
    </div>

    <h2>Upcoming Shuttles</h2>
    {% if upcoming_shuttles_grouped %}
        {% for group in upcoming_shuttles_grouped %}
        <h3>{{ group.date|date:"l, d F Y" }}</h3>
        <p><strong>Total Passengers:</strong> {{ group.total_passengers }}</p>
        <p><strong>Total Price:</strong> €{{ group.total_price|intcomma }}</p>

        <div class="button-group">
            <!-- Daily Costs -->
            <div class="assign-driver-form-container">
                <a href="{% url 'shuttle:daily_costs' group.date %}" class="button button-purple">Daily Costs</a>
            </div>

            <!-- Shuttle Info -->
            <div class="assign-driver-form-container">
                <a href="{% url 'shuttle:view_day_info' group.date %}" class="button button-purple">Shuttle Info</a>
            </div>
        </div>

        <ul>
            {% for shuttle in group.shuttles %}
                <li class="job-container {% if shuttle.color == 'red' %}red-job{% elif shuttle.color == 'orange' %}orange-job{% elif shuttle.color == 'green' %}green-job{% else %}white-job{% endif %}">
                    <span class="customer-name">{{ shuttle.customer_name|truncate_words_chars }}</span>
                    <div class="job-info">
                        <span class="slim">{{ shuttle.shuttle_date }}</span>
                        <span class="phone">{{ shuttle.shuttle_direction|default_if_none:"No direction" }}</span>
                        <span class="tablet">{{ shuttle.price|floatformat:2|intcomma }} EUR</span>
                        <span class="phone">{{ shuttle.no_of_passengers }} Passengers</span>
                    </div>
                    <div class="button-group">
                        <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button tablet button-purple">Edit</a>
                        <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button button-purple">View</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% else %}
        <p>No upcoming shuttles.</p>
    {% endif %}

    <br><hr><br>
    <h2 class="toggle-header" data-section-id="past-shuttles-section">Past Shuttles <span id="past-shuttles-section-arrow">▼</span></h2>
    <div id="past-shuttles-section" style="display: none;">
        {% if past_shuttles_grouped %}
            {% for group in past_shuttles_grouped %}
                <br>
                <h3>{{ group.date|date:"l, d F Y" }}</h3>
                <p><strong>Total Passengers:</strong> {{ group.total_passengers }}</p>
                <p><strong>Total Price:</strong> €{{ group.total_price|floatformat:2|intcomma }}</p>

                <!-- Shuttle Info Button -->
                <div class="assign-driver-form-container">
                    <a href="{% url 'shuttle:view_day_info' group.date %}" class="button button-purple">Shuttle Info</a>
                </div>

                <ul>
                    {% for shuttle in group.shuttles %}
                    <li class="job-container {% if shuttle.color == 'red' %}red-job
                    {% elif shuttle.color == 'orange' %}orange-job
                    {% elif shuttle.color == 'green' %}green-job
                    {% else %}white-job{% endif %}">
                    <span class="customer-name">{{ shuttle.customer_name|truncate_words_chars }}</span>
                    <div class="job-info">
                        <span class="slim">{{ shuttle.shuttle_date }}</span>
                        <span class="phone">{{ shuttle.shuttle_direction|default_if_none:"No direction" }}</span>
                        <span class="tablet">{{ shuttle.price|floatformat:2|intcomma }} EUR</span>
                        <span class="phone">{{ shuttle.no_of_passengers }} Passengers</span>
                    </div>
                    <div class="button-group">
                        <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button phone button-purple">Edit</a>
                        <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button button-purple">View</a>
                    </div>
                </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p>No past shuttles.</p>
        {% endif %}
    </div>
    <div class="mobile-bottom-nav">
        <a href="{% url 'home' %}" class="mobile-nav-item">
            <i class="fas fa-home" style="color: #007bff;"></i>
            <div style="color: #007bff;">Home</div>
        </a>
        <a href="{% url 'shuttle:enquiries' %}" class="mobile-nav-item">
            <i class="fas fa-question-circle" style="color: purple;"></i>
            <div style="color: purple;">Enquiries</div>
        </a>
        <a href="{% url 'common:services' %}" class="mobile-nav-item">
            <i class="fas fa-cogs" style="color: purple;"></i>
            <div style="color: purple;">Services</div>
        </a>
    </div>

    <a href="{% url 'shuttle:add_passengers' %}" class="floating-add-button button-purple">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}