{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}View Passenger{% endblock %}

{% block content %}
<div class="view">
    <div class="buttons">
        <a href="{% url 'shuttle:shuttle' %}" class="button">Back to Shuttle List</a>
        <button onclick="copyShuttleDetails()" class="button">Copy Passenger Details</button>

        <!-- Success Message -->
        <p id="copy-success" style="display: none; color: green;">Shuttle details copied to clipboard!</p>
    </div>
    <br>
    <h2>View Passengers</h2>
    <p><strong>Customer Name:</strong> {{ shuttle.customer_name|default_if_none:"" }}</p>
    <p><strong>Customer Number:</strong> {{ shuttle.customer_number|default_if_none:"" }}</p>
    <p><strong>Customer Email:</strong> {{ shuttle.customer_email|default_if_none:"N/A" }}</p>
    <p><strong>No. of Passengers:</strong> {{ shuttle.no_of_passengers|default_if_none:"" }}</p>
    <p><strong>Price:</strong> €{{ shuttle.price|intcomma|default_if_none:"" }}</p>
    <p><strong>Notes:</strong> {{ shuttle.shuttle_notes|default_if_none:"-" }}</p>

    <div class="button-group">
        <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button">Edit</a>
        <a href="{% url 'shuttle:delete_passengers' shuttle.id %}" class="button cancel-button">Delete</a>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    function copyShuttleDetails() {
        // Gather the shuttle details you want to copy
        let shuttleDetails = `*Name:* {{ shuttle.customer_name|default_if_none:""|escapejs }}
*Number:* {{ shuttle.customer_number|default_if_none:""|escapejs }}
*Email:* {{ shuttle.customer_email|default_if_none:"N/A"|escapejs }}
*Shuttle Date:* {{ shuttle.shuttle_date|default_if_none:""|escapejs }}
*Shuttle Direction:* {{ shuttle.get_shuttle_direction_display|default_if_none:""|escapejs }}
*No of Passengers:* {{ shuttle.no_of_passengers|default_if_none:""|escapejs }}
*Price:* €{{ shuttle.price|default_if_none:""|escapejs }}`;

        // Check if the notes are not empty and add it if available
        let shuttleNotes = `{{ shuttle.shuttle_notes|default_if_none:""|escapejs }}`;
        if (shuttleNotes) {
            shuttleDetails += `\n*Notes:* ${shuttleNotes}`;
        }

        // Create a temporary textarea to hold the shuttle details
        const tempTextArea = document.createElement('textarea');
        tempTextArea.value = shuttleDetails;
        document.body.appendChild(tempTextArea);

        // Select the text and copy it to the clipboard
        tempTextArea.select();
        document.execCommand('copy');

        // Remove the temporary textarea
        document.body.removeChild(tempTextArea);

        // Show the success message
        document.getElementById('copy-success').style.display = 'block';

        // Hide the success message after 2 seconds
        setTimeout(function() {
            document.getElementById('copy-success').style.display = 'none';
        }, 2000);
    }
</script>
<script src="{% static 'script.js' %}"></script>
{% endblock %}