{% extends 'base/base_services.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}View Passenger{% endblock %}

{% block content %}
<div class="view">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'shuttle:shuttle' %}" class="button button-purple">Back to Shuttle List</a>
            <a href="{% url 'shuttle:enquiries' %}" class="button button-purple">Back to Enquiries</a>
            <!-- <button onclick="copyShuttleDetails()" class="button button-purple">Copy Passenger Details</button> -->
            <a href="javascript:void(0);" onclick="copyShuttleLink('{{ shuttle.public_id }}')" class="button button-purple">Client Link</a>
        </div>
    </div>
    <!-- Success Message -->
    <!-- <p id="copy-success" style="display: none; color: green;">Shuttle details copied to clipboard!</p> -->
    <p id="copy-success" style="display: none; color: green;">Link copied to clipboard!</p>
    <br>
    <h2>View Passengers</h2>
    <p><strong>Job ID:</strong> {{ shuttle.public_id|default_if_none:"" }}</p>
    <p><strong>Customer Name:</strong> {{ shuttle.customer_name|default_if_none:"" }}</p>
    <p><strong>Customer Number:</strong> {{ shuttle.customer_number|default_if_none:"" }}</p>
    <p><strong>Customer Email:</strong> {{ shuttle.customer_email|default_if_none:"N/A" }}</p>
    <p><strong>Shuttle Direction:</strong> {{ shuttle.get_shuttle_direction_display }}</p>
    <p><strong>No. of Passengers:</strong> {{ shuttle.no_of_passengers|default_if_none:"" }}</p>
    <p><strong>Price:</strong> €{{ shuttle.price|intcomma|default_if_none:"" }}</p>
    <p><strong>Driver:</strong> {{ shuttle.driver|default_if_none:"" }}</p>
    <p><strong>Number Plate:</strong> {{ shuttle.number_plate|default_if_none:"" }}</p>
    <p><strong>Notes:</strong> <div style="white-space: pre-wrap;">{{ shuttle.shuttle_notes|default_if_none:"-" }}</div></p>

    <br><br>
    <!-- Payments Section -->
    <h3>Payments</h3>
    <div class="payments-list">
        {% for payment in shuttle.payments.all %}
            <p>
                <strong>Payment {{ forloop.counter }}:</strong> 
                Amount: 
                {% if payment.payment_currency == 'HUF' %}
                    Ft {{ payment.payment_amount }}
                {% else %}
                    {{ payment.payment_currency|currency_symbol }}{{ payment.payment_amount }}
                {% endif %}
                | Payment Type: {{ payment.payment_type }} | 
                Paid To: 
                {% if payment.paid_to_agent %}
                    Agent: {{ payment.paid_to_agent.name }}
                {% elif payment.paid_to_driver %}
                    Driver: {{ payment.paid_to_driver.name }}
                {% elif payment.paid_to_staff %}
                    Staff: {{ payment.paid_to_staff.name }}
                {% else %}
                    Not specified
                {% endif %}
                
                {% if payment.payment_type == 'Card' %}
                    | <strong>Credit Card Fee:</strong> 
                    {% if payment.payment_currency == 'HUF' %}
                        Ft {{ payment.cc_fee|intcomma }}
                    {% else %}
                        {{ payment.payment_currency|currency_symbol }}{{ payment.cc_fee|intcomma }}
                    {% endif %}
                    | <strong>Total with Fee:</strong> 
                    {% if payment.payment_currency == 'HUF' %}
                        Ft {{ payment.total_with_cc_fee|intcomma }}
                    {% else %}
                        {{ payment.payment_currency|currency_symbol }}{{ payment.total_with_cc_fee|intcomma }}
                    {% endif %}
                {% endif %}
                | <strong>Amount in Euros:</strong> 
                {% if payment.payment_amount_in_euros %}
                    €{{ payment.payment_amount_in_euros|intcomma }}
                {% else %}
                    Not available
                {% endif %}
            </p>
        {% empty %}
            <p>No payments recorded.</p>
        {% endfor %}
    </div>

    <div class="button-group">
        <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button button-purple">Edit</a>
        <a href="{% url 'shuttle:delete_passengers' shuttle.id %}" class="button cancel-button">Delete</a>
    </div>

    <br>
    <form method="POST" action="{% url 'shuttle:update_shuttle_status' shuttle.id %}">
        {% csrf_token %}
        <p><strong>Confirm Job:</strong>
            <input class="sbig" type="checkbox" name="is_confirmed" {% if shuttle.is_confirmed %}checked{% endif %}>
        </p>

        <p><strong>Customer Paid:</strong>
            <input class="sbig" type="checkbox" name="is_paid" {% if shuttle.is_paid %}checked{% endif %}>
        </p>

        <!-- {% if user.is_superuser %}
        <p><strong>All Paid (Job Completed):</strong> 
            <input class="sbig" type="checkbox" name="is_completed" {% if shuttle.is_completed %}checked{% endif %}>
        </p>
        {% endif %} -->
        
        <button class="button-purple" type="submit">Update Status</button>
    </form>

    <!-- Modal Trigger for Error -->
    {% if error_message %}
    <p id="modal-trigger" style="display:none;">{{ error_message }}</p>
    {% endif %}
</div>
<div class="mobile-bottom-nav">
    <a href="{% url 'home' %}" class="mobile-nav-item">
        <i class="fas fa-home"></i>
        <div>Home</div>
    </a>
    <a href="{% url 'shuttle:shuttle' %}" class="mobile-nav-item">
        <i class="fas fa-shuttle-van" style="color: purple;"></i>
        <div style="color: purple;">Shuttle</div>
    </a>
    <a href="{% url 'shuttle:enquiries' %}" class="mobile-nav-item">
        <i class="fas fa-question-circle" style="color: purple;"></i>
        <div style="color: purple;">Enquiries</div>
    </a>
    <a href="{% url 'common:services' %}" class="mobile-nav-item">
        <i class="fas fa-cogs" style="color: purple;"></i>
        <div style="color: purple;">Services</div>
    </a>

    <!-- <a href="#" class="floating-add-button button-purple" onclick="copyShuttleDetails()">
        <i class="fas fa-copy"></i>
    </a> -->

    <a href="javascript:void(0);" onclick="copyShuttleLink('{{ shuttle.public_id }}')" class="floating-add-button button-purple">
        <i class="fas fa-paper-plane"></i>
    </a>

</div>


<!-- Modal Structure -->
<div id="error-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <p id="modal-message">{{ error_message }}</p>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    function copyShuttleDetails() {
        // Gather the shuttle details you want to copy
        let shuttleDetails = `*Name:* {{ shuttle.customer_name|default_if_none:""|escapejs }}
*Number:* {{ shuttle.customer_number|default_if_none:""|escapejs }}
*Email:* {{ shuttle.customer_email|default_if_none:"N/A"|escapejs }}
*Shuttle Date:* {{ shuttle.shuttle_date|default_if_none:""|escapejs }}
*Shuttle Direction:* {{ shuttle.get_shuttle_direction_display|default_if_none:""|escapejs }}
*No of Passengers:* {{ shuttle.no_of_passengers|default_if_none:""|escapejs }}
*Driver:* {{ shuttle.driver|default_if_none:""|escapejs }}
*Number Plate:* {{ shuttle.number_plate|default_if_none:""|escapejs }}
*Price:* €{{ shuttle.price|default_if_none:""|escapejs }}`;

        // Check if the notes are not empty and add it if available
        let shuttleNotes = `{{ shuttle.shuttle_notes|default_if_none:""|escapejs }}`;
        if (shuttleNotes) {
            shuttleDetails += `\n*Notes:* ${shuttleNotes}`;
        }

        // Create a temporary textarea to hold the shuttle details
        const tempTextArea = document.createElement('textarea');
        tempTextArea.value = shuttleDetails;
        document.body.appendChild(tempTextArea);

        // Select the text and copy it to the clipboard
        tempTextArea.select();
        document.execCommand('copy');

        // Remove the temporary textarea
        document.body.removeChild(tempTextArea);

        // Show the success message
        document.getElementById('copy-success').style.display = 'block';

        // Hide the success message after 2 seconds
        setTimeout(function() {
            document.getElementById('copy-success').style.display = 'none';
        }, 2000);
    }
</script>
<script src="{% static 'script.js' %}"></script>
<script>
    function copyShuttleLink(publicId) {
        const link = `https://app.kerestirtravel.com/shuttle/${publicId}/client/`;
        navigator.clipboard.writeText(link)
            .then(() => {
                const msg = document.getElementById('copy-success');
                msg.textContent = 'Shuttle link copied to clipboard!';
                msg.style.display = 'block';
                setTimeout(() => {
                    msg.style.display = 'none';
                }, 2000);
            })
            .catch(err => console.error('Failed to copy:', err));
    }
</script>
{% endblock %}