
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    text-align: left;
    background-color: #007bff;
    color: #fff;
}

.header_admin{
    background-color: orange !important;
}

.header_services {
    background-color: purple !important;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.logot {
    background-color: #007bff;
    box-shadow: none;
    text-align: right;
}

.logot_admin {
    background-color: orange;
}

.logot_services {
    background-color: purple;
}

.hunfrd {
    margin-right: 10px;
}

.lne {
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.lne button {
    background-color: #fff;
    color: #007bff;
}

.lne_admin button {
    color: orange;
}

.lne_services button {
    color: purple;
}

.lne button:hover {
    background-color: #d9d9d9 !important;
    color: #007bff;
}

.lne_admin button:hover {
    color: orange !important;
}

.lne_services button:hover {
    color: purple !important;
}

.lne h1 {
    position: absolute;
    padding-left: 25px;
    left: 0;
    align-self: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

a.button, button {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.button:hover, button:hover {
    background-color: #0056b3;
}

.cancel-button:hover {
    background-color: #b70517 !important;
    transition: background-color 0.3s ease;
}

.button-orange {
    background-color: orange !important;
}

.button-orange:hover {
    background-color: rgb(212, 143, 16) !important;
}

.button-red {
    background-color: rgb(255, 75, 75) !important;
}

.button-red:hover {
    background-color: rgb(234, 49, 49) !important;
}

.button-purple {
    background-color: purple !important;
}

.button-purple:hover {
    background-color: rgb(58, 3, 58) !important;
}

form button {
    width: auto; /* Adjust width to fit the content */
}

form .button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ensure there is space between the buttons */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 123, 255, 0.2);
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    min-height: 60px;
}
.smaller li{
    width: 95%;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 96%;
    display: inline-block;
}

form label {
    font-size: 1em;
    margin-bottom: 5px;
}

form input, form textarea, form select {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    min-width: 40%;
    max-width: 80%;
    margin: 20px auto 0;
}

.errors li{
    background-color: #ffe6e6;
    box-shadow: inset 0px 0px 10px rgb(255, 0, 0);
    color: red;
    /* padding: 10px; */
    /* margin-top: 10px; */
    /* border-radius: 5px; */
}

.time-input-container {
    display: flex;
    align-items: center;
}

.time-input {
    width: 40px;
    margin-right: 5px;
    text-align: center;
}

.time-input:focus {
    outline: none;
}

.job-info {
    flex-grow: 1;
}

.job-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    /* background-color: white; */
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 123, 255, 0.2);
    font-weight: bold;
    color: #333;
    /* width: 100%; */
}

.job-container .customer-name {
    text-align: left;
    min-width: 150px;
}

.job-container .job-info {
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Adjust gap as needed */
}

.job-container .job-info span {
    flex: 1;
    text-align: center;
}

.job-container .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.view {
    padding: 50px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sbig {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5); /* For Safari */
    -moz-transform: scale(1.5); /* For Firefox */
    -ms-transform: scale(1.5); /* For Internet Explorer */
    -o-transform: scale(1.5); /* For Opera */
    margin: 5px;
    vertical-align: middle;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: orange;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    flex: 1;
    padding: 10px;
    min-width: 300px;
    margin: 0px;
}

.total-box {
    margin: 10px;
}

.chart-container {
    position: relative;
    width: 100%;
}

.overall_totals-text {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.chart-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 32%;
    box-sizing: border-box;
}

.chart-box h3 {
    text-align: center;
}

.chart-container canvas {
    display: block;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group-inline .field-wrapper {
    flex: 1;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.white-job {
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(225, 209, 252, 0.944);
}

.orange-job {
    background-color: rgb(255, 183, 50);
    box-shadow: inset 0px 0px 10px rgba(153, 118, 3, 0.94);
}

.red-job {
    background-color: rgb(244, 87, 87);
    box-shadow: inset 0px 0px 10px rgba(245, 12, 12, 0.944);
}

.green-job {
    background-color: #8fed8f;
    box-shadow: inset 0px 0px 10px rgba(42, 179, 8, 0.944);
}

.cancel-button {
    text-align: center;
    background-color: red !important;
}

.red {
    color: red;
}

.black {
    color: black;
}

.sze {
    min-width: 70px;
}

.error-container .button:hover {
    background-color: #555;
}

.payment-container {
    border: 1.5px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nm {
    margin-top: 0px;
}

.bed-type-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.bed-type-row label {
    text-align: center;
}

.bed-type-quantity {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.bed-type-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.bed-type-minus,
.bed-type-plus {
    border-radius: 3px;
    width: 18px;
    height: 18px;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    margin: 1px 0;
}

.assign-driver-form-container {
    max-width: 350px;
    border-radius: 4px;
}

.assign-driver-form {
    display: flex;
    flex-direction: column;
}

.assign-driver-field {
    display: flex;
    flex-direction: column;
}

.assign-driver-select {
    padding: 6px;
    border-radius: 4px;
}

.assign-driver-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0%;
    margin-top: 10px;
}

.assign-driver-submit-button:hover {
    background-color: #45a049;
}

.assign-driver-form input,
.assign-driver-form textarea,
.assign-driver-form select {
    font-size: 1em;

    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.assign-driver-form p {
    margin: 0px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 8px; 
    width: 350px; 
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ff5e5e;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.close-button:hover {
    color: #c2322d; 
}

.modal p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

input[type="checkbox"][name$="-DELETE"] {
    display: none;
}

.toggle-header {
    cursor: pointer;
}

.mobile-message {
    text-align: center;
    font-size: 1.5em;
    color: red;
}

.mobile-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.badge {
    display: inline-block;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    margin-left: 0.5em;
}

.badge-red {
    background-color: red;
    color: #fff;
}

.badge-orange {
    background-color: orange;
    color: #000;
}

.badge-green {
    background-color: lightgreen;
    color: #000;
}

.payment-entry.hidden {
    display: none;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .step-links {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s;
    border: none;
}

.pagination-btn:hover {
    background-color: #0056b3;
}

.pagination .current-page {
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin: 0 5px;
}

.pagination-btn:disabled, .pagination-btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
    cursor: not-allowed;
}

.content {
    flex: 1;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px 0;
}


/* Small laptop screens */
@media (max-width: 1200px) {

    .laptop {
        display: none;
    }



    /* Ipad screens */
    @media (max-width: 900px) {
        .tablet {
            display: none;
        }

        .job-container .customer-name {
            min-width: 90px;
        }

        .buttons {
            flex-wrap: wrap;
            gap: 10px;
        }

        .left-buttons {
            display: flex;
            flex-wrap: wrap;
        }
        
        .calc .container {
            max-width: 95%;
            margin: 10px;
        }

        .row {
            flex-wrap: nowrap;
        }

        #monthlyChart {
            width: 220px;
            height: 220px;
        }

        #yearlyChart {
            width: 220px;
            height: 220px;
        }

        .column {
            min-width: 80px;
            max-width: 500px;
            max-height: 600px;
        }

        #lineChart {
            max-width: 600px;
            margin: 0px -90px 0px 0px;
        }

        .all .column {
            max-width: 700px !important;
            justify-self: end;
        }


        /* regular Mobile screens */
        @media (max-width: 600px) {
            .container {
                max-width: 90%;
            }

            .lne {
                padding-right: 0px;
            }

            .lne h1 {
                padding-left: 25px;
                font-size: 1.4em;
            };

            .container {
                min-width: 40%;
                max-width: 95%;
            }

            .job-container {
                width: auto;
            }

            form {
                width: auto;
            }

            li {
                width: auto;
            }

            .job-container .customer-name {
                min-width: 60px;
            }

            h2 {
                font-size: 1.2em;
            }

            .view {
                padding: 10px;
            }

            .phone {
                display: none;
            }

            @media (max-width: 415px) {
                .lne h1 {
                    position: relative;
                }

                .container {
                    max-width: 95%;
                }

                .content {
                    padding: 5px;
                }

                .small-phone {
                    display: none;
                }

                @media (max-width: 295px) {

                    .slim {
                        display: none;
                    }
                }
            }
        }
    }
}