{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container">

    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'expenses:expenses' %}" class="button">Expenses</a>
        <a href="{% url 'people:manage' %}" class="button">Manage</a>
        <a href="{% url 'billing:totals' %}" class="button">Totals</a>
        <a href="/admin/" class="button">Console</a>
    </div>
    <h1>Live Jobs</h1>

    <h2>Driving Jobs Today</h2>
    <ul>
        {% for job in driving_jobs_today %}
        <li class="job-container">
            <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ job.job_date }}</span>
                <span class="phone">{{ job.job_time|time_format }}</span>
                <span class="tablet">€{{ job.job_price }} {{ job.currency }}</span>
                <span class="phone">{{ job.pick_up_location|truncate_words_chars }}</span>
            </div>
            <div class="button-group">
                {% if job.id %}
                    <a href="{% url 'jobs:edit_job' job.id %}" class="button phone">Edit</a>
                    <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No driving jobs today</li>
        {% endfor %}
    </ul>
    
    <h2>Shuttle Jobs Today</h2>
    <ul>
        {% for shuttle in shuttle_jobs_today %}
        <li class="job-container">
            <span class="customer-name">{{ shuttle.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ shuttle.shuttle_date }}</span>
                <span class="tablet">€{{ shuttle.price }} {{ shuttle.currency }}</span>
                <span class="phone">Passengers: {{ shuttle.no_of_passengers }}</span>
                <span class="phone">{{ shuttle.shuttle_direction }}</span>
            </div>
            <div class="button-group">
                {% if shuttle.id %}
                    <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button phone">Edit</a>
                    <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button">View</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No shuttles today</li>
        {% endfor %}
    </ul>

    <h2>Hotel Bookings Today</h2>
    <ul>
        {% for booking in hotel_bookings_today %}
        <li class="job-container">
            <span class="customer-name">{{ booking.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ booking.check_in|date:"d M Y" }}</span>
                <span class="tablet">Booking Fee: {{ booking.customer_pays_in_euros }} {{ booking.customer_pays_currency}}</span>
                <span class="phone">People: {{ booking.no_of_people }}</span>
            </div>
            <div class="button-group">
                {% if booking.id %}
                    <a href="{% url 'hotels:edit_guests' booking.id %}" class="button phone">Edit</a>
                    <a href="{% url 'hotels:view_guests' booking.id %}" class="button">View</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No hotel bookings today</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}