{% extends 'base/base_admin.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container">

    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'home' %}" class="button">Back to Home</a>
            <a href="{% url 'people:manage' %}" class="button button-orange">Manage</a>
            <a href="{% url 'expenses:expenses' %}" class="button button-orange">Expenses</a>
            <a href="{% url 'billing:totals' %}" class="button button-orange">Totals</a>
            <a href="{% url 'billing:balances' %}" class="button button-orange">Balances</a>
            <a href="{% url 'common:export_jobs' %}" class="button button-orange">Export</a>
        </div>
        <a href="/admin/" class="button button-red">Console</a>
    </div>
    <h1>Live Jobs</h1>

    <h2>Driving Jobs Today</h2>
    <ul>
        {% for job in driving_jobs_today %}
        <li class="job-container">
            <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ job.job_date }}</span>
                <span class="phone">{{ job.job_time|time_format }}</span>
                <span class="tablet">€{{ job.job_price }} {{ job.currency }}</span>
                <span class="phone">{{ job.pick_up_location|truncate_words_chars }}</span>
            </div>
            <div class="button-group">
                {% if job.id %}
                    <a href="{% url 'jobs:edit_job' job.id %}" class="button phone">Edit</a>
                    <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No driving jobs today</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}