{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Delete Expense{% endblock %}

{% block content %}
<div class="container delete">
    <h2>Delete Expense</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete the expense for {{ expense.driver.name|default_if_none:"Office" }} on {{ expense.expense_date }} at {{ expense.expense_time|time_format }}?</h3>
        <h2>This action cannot be undone!!</h2>
        <a href="{% url 'expenses:view_expense' expense.id %}" class="button">Cancel</a>
        <button type="submit" class="button cancel-button">Confirm Delete</button>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}