{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Driver{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'people:manage' %}" class="button">Back to Manage</a>
    <br><br>
    <h1>Edit Driver</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Save Changes</button>
    </form>
    {% if form.errors %}
        <div class="errors">
            <h2>Form Errors:</h2>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}