{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'common:services' %}" class="button button-purple">Services</a>
            <a href="{% url 'jobs:enquiries' %}" class="button">Enquiries</a>
            <a href="{% url 'jobs:past_jobs' %}" class="button">Past Jobs</a>
            <a href="{% url 'common:admin' %}" class="button button-orange">Admin</a>
        </div>
        <a href="{% url 'jobs:add_job' %}" class="button" >Add Job</a>
    </div>
    <br class="phone">
    
    <h2>Upcoming Driving Jobs</h2>
    <ul>
        {% for job in upcoming_jobs %}
        <li class="job-container {% if job.color == 'red' %}red-job{% elif job.color == 'orange' %}orange-job{% elif job.color == 'green' %}green-job{% else %}white-job{% endif %}">
            <div class="job-tag-container">
                <small class="job-added-by-tag">
                    {% if job.created_by %}
                        Added by: {{ job.created_by.get_full_name|default:job.created_by.username }}
                    {% else %}
                        Added by: Unknown
                    {% endif %}
                </small>
                {% if job.last_modified_by %}
                    <small class="job-edited-by-tag">
                        Edited by: {{ job.last_modified_by.get_full_name|default:job.last_modified_by.username }}
                    </small>
                {% endif %}
            </div>
            <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ job.job_date }}</span>
                <span class="phone">{{ job.job_time|time_format }}</span>
                <span class="tablet">{{ job.job_price }} {{ job.job_currency }}</span>
                <span class="phone">{{ job.pick_up_location|truncate_words_chars }}</span>
            </div>
            <div class="button-group">
                <a href="{% url 'jobs:edit_job' job.id %}" class="button tablet">Edit</a>
                <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
            </div>
        </li>
        {% empty %}
            <li>No upcoming jobs.</li>
        {% endfor %}
    </ul>
    <br>

    <h2>Recent Driving Jobs (Past 2 Days)</h2>
    <ul>
        {% for job in recent_jobs %}
        <li class="job-container {% if job.color == 'red' %}red-job{% elif job.color == 'orange' %}orange-job{% elif job.color == 'green' %}green-job{% else %}white-job{% endif %}">
            <div class="job-tag-container">
                <small class="job-added-by-tag">
                    {% if job.created_by %}
                        Added by: {{ job.created_by.get_full_name|default:job.created_by.username }}
                    {% else %}
                        Added by: Unknown
                    {% endif %}
                </small>
                {% if job.last_modified_by %}
                    <small class="job-edited-by-tag">
                        Edited by: {{ job.last_modified_by.get_full_name|default:job.last_modified_by.username }}
                    </small>
                {% endif %}
            </div>
            <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ job.job_date }}</span>
                <span class="phone">{{ job.job_time|time_format }}</span>
                <span class="tablet">{{ job.job_price }} {{ job.job_currency }}</span>
                <span class="phone">{{ job.pick_up_location|truncate_words_chars }}</span>
            </div>
            <div class="button-group">
                <a href="{% url 'jobs:edit_job' job.id %}" class="button phone">Edit</a>
                <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
            </div>
        </li>
        {% empty %}
            <li>No recent jobs.</li>
        {% endfor %}
    </ul>
    <div class="mobile-bottom-nav">
        <a href="{% url 'jobs:past_jobs' %}" class="mobile-nav-item">
            <i class="fas fa-history"></i>
            <div>Past Jobs</div>
        </a>
        <a href="{% url 'jobs:enquiries' %}" class="mobile-nav-item">
            <i class="fas fa-question-circle"></i>
            <div>Enquiries</div>
        </a>
        <a href="{% url 'common:services' %}" class="mobile-nav-item">
            <i class="fas fa-cogs" style="color: purple;"></i>
            <div style="color: purple;">Services</div>
        </a>
        <a href="{% url 'common:admin' %}" class="mobile-nav-item">
            <i class="fas fa-user-shield" style="color: orange;"></i>
            <div style="color: orange;">Admin</div>
        </a>
    </div>

    <a href="{% url 'jobs:add_job' %}" class="floating-add-button">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}