{% extends 'base.html' %}
{% load static %}

{% block title %}Manage{% endblock %}

{% block content %}
<div class="container">
    <br>
    <a href="{% url 'home' %}" class="button">Back to Home</a>
    <br><br>
    <h1>Manage Agents</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Add Agent</button>
    </form>

    <h2>Existing Agents</h2>
    <ul>
        {% for agent in agents %}
            <li>
                {{ agent.name }}
                <span class="button-group">
                    <a href="{% url 'people:edit_agent' agent.id %}" class="button">Edit</a>
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}