{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Past Jobs{% endblock %}

{% block content %}
<div class="container">
    <br>
    <a href="{% url 'home' %}" class="button">Back to Home</a>
    <br><br><br>
    <form method="GET" action="{% url 'jobs:past_jobs' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search customer name, number, description or pick-up location" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
        <a href="{% url 'jobs:past_jobs' %}"><button type="button">View All</button></a>
    </form>
    <h1>Past Jobs</h1>
    
    <ul>
        {% for job in past_jobs %}
            <li class="job-container {% if job.color == 'red' %}red-job{% elif job.color == 'orange' %}orange-job{% elif job.color == 'green' %}green-job{% else %}white-job{% endif %}">
                <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
                <div class="job-info">
                    <span class="slim">{{ job.job_date }}</span>
                    <span class="phone">{{ job.job_time|time_format }}</span>
                    <span class="phone">{{ job.job_price }} {{ job.currency }}</span>
                    <span class="phone">{{ job.job_description|truncate_words_chars }}</span>
                </div>
                <span class="button-group">
                    <a href="{% url 'jobs:edit_job' job.id %}" class="button phone">Edit</a>
                    <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
                </span>
            </li>
        {% empty %}
            <li>No past jobs.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}