{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Services{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'shuttle:shuttle' %}" class="button">Shuttle</a>
        <a href="{% url 'hotels:hotel_bookings' %}" class="button">Hotels</a>
    </div>

    <!-- Recent Shuttle Jobs -->
    <h2>Recent Shuttle Jobs</h2>
    <ul>
        {% if recent_shuttle_jobs %}
            {% for shuttle in recent_shuttle_jobs %}
                <li>
                    <strong>{{ shuttle.customer_name }}</strong>
                    
                    <p class="phone">Date: {{ shuttle.shuttle_date }}</p>
                    <p>Passengers: {{ shuttle.no_of_passengers }}</p>
                    <p class="phone">Direction: {{ shuttle.get_shuttle_direction_display }}</p>
                    <p class="phone">Price: €{{ shuttle.price|floatformat:2 }} 
                    <div class="button-group">
                        <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button">View</a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>No recent shuttle jobs found.</li>
        {% endif %}
    </ul>

    <br><hr><br>
    <!-- Recent Hotel Bookings -->
    <h2>Recent Hotel Bookings</h2>
    <ul>
        {% if recent_hotel_jobs %}
            {% for hotel in recent_hotel_jobs %}
                <li>
                    <strong>{{ hotel.customer_name }}</strong>
                    <p class="phone">Check-in: {{ hotel.check_in|date:"d M Y" }}</p>
                    <p>People: {{ hotel.no_of_people }}</p>
                    <p class="phone">Rooms: {{ hotel.rooms }}</p>
                    <p class="phone">Customer pays: {{ hotel.customer_pays|floatformat:2 }} {{ hotel.customer_pays_currency }}</p>
                    <div class="button-group">
                        <a href="{% url 'hotels:view_guests' hotel.id %}" class="button">View</a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>No recent hotel bookings found.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}