{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Shuttle{% endblock %}

{% block content %}
<div class="container">
    <div>
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'shuttle:add_passengers' %}" class="button">Add Passengers</a>
    </div>

    <br>
    <div class="column">
        <div class="overall_totals-text">
            <p>Total Passengers in {% now "F" %}: <strong>{{ total_passengers_this_month|default:"0" }}</strong></p>
            <p>Total Money in {% now "F" %}: <strong>€{{ total_price_this_month|floatformat:2|default:"0.00" }}</strong></p>
        </div>
        <div class="overall_totals-text">
            <p>Total Passengers Overall: <strong>{{ total_passengers|default:"0" }}</strong></p>
            <p>Total Money Overall: <strong>€{{ total_price|floatformat:2|default:"0.00" }}</strong></p>
        </div>
    </div>

    <h2>Upcoming Shuttles</h2>
    {% if upcoming_shuttles_grouped %}
        {% for group in upcoming_shuttles_grouped %}
            <br>
            <h3>{{ group.date|date:"l, d F Y" }}</h3>
            <p><strong>Total Passengers:</strong> {{ group.total_passengers }}</p>
            <p><strong>Total Price:</strong> €{{ group.total_price }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th class="tablet">Customer Number</th>
                        <th>No. of Passengers</th>
                        <th>Price</th>
                        <th>Shuttle Direction</th>
                        <th class="tablet">Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shuttle in group.shuttles %}
                    <tr>
                        <td>{{ shuttle.customer_name }}</td>
                        <td class="tablet">{{ shuttle.customer_number }}</td>
                        <td>{{ shuttle.no_of_passengers }}</td>
                        <td>€{{ shuttle.price }}</td>
                        <td>{{ shuttle.get_shuttle_direction_display }}</td>
                        <td class="tablet">{{ shuttle.shuttle_notes|default:"No notes" |truncate_words_chars }}</td>
                        <td>
                            <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button tablet">Edit</a>
                            <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>No upcoming shuttles.</p>
    {% endif %}

    <br><hr><br>
    <h2 class="toggle-header" data-section-id="past-shuttles-section">Past Shuttles <span id="past-shuttles-section-arrow">▼</span></h2>
    <div id="past-shuttles-section" style="display: none;">
        {% if past_shuttles_grouped %}
            {% for group in past_shuttles_grouped %}
                <br>
                <h3>{{ group.date|date:"l, d F Y" }}</h3>
                <p><strong>Total Passengers:</strong> {{ group.total_passengers }}</p>
                <p><strong>Total Price:</strong> €{{ group.total_price }}</p>
                <table>
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th class="tablet">Customer Number</th>
                            <th>No. of Passengers</th>
                            <th>Price</th>
                            <th>Shuttle Direction</th>
                            <th class="tablet">Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shuttle in group.shuttles %}
                        <tr>
                            <td>{{ shuttle.customer_name }}</td>
                            <td class="tablet">{{ shuttle.customer_number }}</td>
                            <td>{{ shuttle.no_of_passengers }}</td>
                            <td>€{{ shuttle.price }}</td>
                            <td>{{ shuttle.get_shuttle_direction_display }}</td>
                            <td class="tablet">{{ shuttle.shuttle_notes|default:"No notes" |truncate_words_chars }}</td>
                            <td>
                                <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button tablet">Edit</a>
                                <a href="{% url 'shuttle:view_passengers' shuttle.id %}" class="button">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>No past shuttles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}