{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}View Job{% endblock %}

{% block content %}
<div class="view-job">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'jobs:past_jobs' %}" class="button">Back to Past Jobs</a>
    </div>
    <br>
    <h2>View Job</h2>
    <p><strong>Customer Name:</strong> {{ job.customer_name|default_if_none:"" }}</p>
    <p><strong>Customer Number:</strong> {{ job.customer_number|default_if_none:"" }}</p>
    <p><strong>Job Date:</strong> {{ job.job_date|default_if_none:"" }}</p>
    <p><strong>Job Time:</strong> {{ job.job_time|time_format|default_if_none:"" }}</p>
    <p><strong>Pick-up Location:</strong> {{ job.pick_up_location|default_if_none:"" }}</p>
    <p><strong>Drop-off Location:</strong> {{ job.drop_off_location|default_if_none:"" }}</p>
    <p><strong>flight Number:</strong> {{ job.flight_number|default_if_none:"" }}</p>
    <p><strong>Job Description:</strong> {{ job.job_description|default_if_none:"" }}</p>
    <p><strong>No of Passengers:</strong> {{ job.no_of_passengers|default_if_none:"" }}</p>
    <p><strong>Vehicle Type:</strong> {{ job.vehicle_type|default_if_none:"" }}</p>
    <p><strong>Kilometers:</strong> {{ calculation.kilometers|default_if_none:"" }}</p>
    <p><strong>Payment Type:</strong> {{ job.payment_type|default_if_none:"" }}</p>
    <p>
        <strong>Job Price:</strong> 
        €{{ job.job_price_in_euros|default_if_none:"" }} 
        {% if job.job_currency != 'EUR' %} 
            ({% if job.job_currency == 'GBP' %}£{% elif job.job_currency == 'USD' %}${% elif job.job_currency == 'HUF' %}Ft {% else %}{{ job.job_currency }}{% endif %}{{ job.job_price|default_if_none:"" }}) 
        {% endif %}
        
        {% if job.payment_type == 'Card' %} 
            <strong> | Credit Card Fee:</strong> 
            {% if job.job_currency == 'EUR' %}
                €{{ job.cc_fee|default_if_none:"" }} 
                (€{{ total_with_cc_fee|default_if_none:"" }})
            {% elif job.job_currency == 'GBP' %}
                £{{ job.cc_fee|default_if_none:"" }} 
                (£{{ total_with_cc_fee|default_if_none:"" }})
            {% elif job.job_currency == 'HUF' %}
                Ft {{ job.cc_fee|default_if_none:"" }} 
                (Ft {{ total_with_cc_fee|default_if_none:"" }})
            {% elif job.job_currency == 'USD' %}
                ${{ job.cc_fee|default_if_none:"" }} 
                (${{ total_with_cc_fee|default_if_none:"" }})
            {% endif %}
        {% endif %}
    </p>

    <!-- <p>
        <strong>Fuel Cost:</strong> 
        {% if job.fuel_cost_in_euros %}
            €{{ job.fuel_cost_in_euros }}  
            {% if job.fuel_currency != 'EUR' %} 
                ({% if job.fuel_currency == 'GBP' %}£{% elif job.fuel_currency == 'USD' %}${% elif job.fuel_currency == 'HUF' %}Ft {% else %}{{ job.fuel_currency }}{% endif %}{{ job.fuel_cost }})
            {% endif %}
        {% endif %}
    </p> -->
    
    <p>
        <strong>Driver Fee:</strong> 
        {% if job.driver_fee_in_euros %}
            €{{ job.driver_fee_in_euros }}  
            {% if job.driver_currency != 'EUR' %} 
                ({% if job.driver_currency == 'GBP' %}£{% elif job.driver_currency == 'USD' %}${% elif job.driver_currency == 'HUF' %}Ft {% else %}{{ job.driver_currency }}{% endif %}{{ job.driver_fee }})
            {% endif %}
        {% endif %}
    </p>
    <p><strong>Driver Name:</strong> {{ job.driver|default_if_none:"" }}</p>
    <p><strong>Number Plate:</strong> {{ job.number_plate|default_if_none:"" }}</p>
    <p><strong>Agent Name:</strong> {{ job.agent_name.name|default_if_none:"" }}</p>
    <p><strong>Agent Fee:</strong> {% if job.agent_percentage %}{{ job.agent_percentage }}%{% endif %}</p>

    <form method="POST" action="{% url 'jobs:update_job_status' job.id %}">
        {% csrf_token %}
        <p><strong>Customer Paid:</strong> 
            <input class="sbig" type="checkbox" id="is_paid" name="is_paid" {% if job.is_paid %}checked{% endif %}>
        </p>
    
        {% if user.is_superuser %}
        <p><strong>All Paid (Job Completed):</strong> 
            <input class="sbig" type="checkbox" id="is_completed" name="is_completed" {% if job.is_completed %}checked{% endif %}>
        </p>
        {% endif %}
    
        <button type="submit" class="button">Update Status</button>
    </form>

    <div class="button-group">
        <a href="{% url 'jobs:edit_job' job.id %}" class="button">Edit</a>
        <a href="{% url 'jobs:delete_job' job.id %}" class="button cancel-button">Delete</a>
    </div>
    
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}