{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}View Expense{% endblock %}

{% block content %}
<div class="view-job">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'expenses:expenses' %}" class="button">Back to Expenses</a>
    </div>
    <br>
    <h2>View Expense</h2>
    <p><strong>Driver:</strong> {{ expense.driver.name|default_if_none:"" }}</p>
    <p><strong>Expense Type:</strong> {{ expense.expense_type|default_if_none:"" }}</p>
    <p><strong>Expense Amount:</strong> 
        €{{ expense.expense_amount_in_euros|default_if_none:"" }} 
        {% if expense.expense_currency != 'EUR' %} 
            ({% if expense.expense_currency == 'GBP' %}£{% elif expense.expense_currency == 'USD' %}${% elif expense.expense_currency == 'HUF' %}Ft {% else %}{{ expense.expense_currency }}{% endif %}{{ expense.expense_amount|default_if_none:"" }}) 
        {% endif %}
    </p>
    <p><strong>Date:</strong> {{ expense.expense_date|date:"F j, Y"|default_if_none:"" }}</p>
    <p><strong>Time:</strong> {{ expense.expense_time|time_format|default_if_none:"" }}</p>
    <p><strong>Notes:</strong> {{ expense.expense_notes|default_if_none:"-" }}</p>

    <div class="button-group">
        <a href="{% url 'expenses:edit_expense' expense.id %}" class="button">Edit</a>
        <a href="{% url 'expenses:delete_expense' expense.id %}" class="button cancel-button">Delete</a>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}