{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}View Passenger{% endblock %}

{% block content %}
<div class="view-job">
    <div class="buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
        <a href="{% url 'shuttle:shuttle' %}" class="button">Back to Shuttle List</a>
    </div>
    <br>
    <h2>View Passengers</h2>
    <p><strong>Customer Name:</strong> {{ shuttle.customer_name|default_if_none:"" }}</p>
    <p><strong>Customer Number:</strong> {{ shuttle.customer_number|default_if_none:"" }}</p>
    <p><strong>Customer Email:</strong> {{ shuttle.customer_email|default_if_none:"N/A" }}</p>
    <p><strong>No. of Passengers:</strong> {{ shuttle.no_of_passengers|default_if_none:"" }}</p>
    <p><strong>Price:</strong> €{{ shuttle.price|default_if_none:"" }}</p>
    <p><strong>Notes:</strong> {{ shuttle.shuttle_notes|default_if_none:"-" }}</p>

    <div class="button-group">
        <a href="{% url 'shuttle:edit_passengers' shuttle.id %}" class="button">Edit</a>
        <a href="{% url 'shuttle:delete_passengers' shuttle.id %}" class="button cancel-button">Delete</a>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}