{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
    </div>
    <br>
    <h2>Enquiries (Unconfirmed Jobs)</h2>
    <ul>
        {% for job in enquiries_jobs %}
        <li class="job-container {% if job.color == 'red' %}red-job{% elif job.color == 'orange' %}orange-job{% elif job.color == 'green' %}green-job{% else %}white-job{% endif %}">
            <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
            <div class="job-info">
                <span class="slim">{{ job.job_date }}</span>
                <span class="phone">{{ job.job_time|time_format }}</span>
                <span class="tablet">€{{ job.job_price }} {{ job.currency }}</span>
                <span class="phone">{{ job.pick_up_location|truncate_words_chars }}</span>
            </div>
            <div class="button-group">
                <a href="{% url 'jobs:edit_job' job.id %}" class="button tablet">Edit</a>
                <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
            </div>
        </li>
        {% empty %}
            <li>No unconfirmed jobs.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}