{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Past Jobs{% endblock %}

{% block content %}
<div class="container">
    <div class="left-buttons">
        <a href="{% url 'home' %}" class="button">Back to Home</a>
    </div>
    <br>
    <form method="GET" action="{% url 'jobs:past_jobs' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search customer name, number, description or pick-up location" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
        <a href="{% url 'jobs:past_jobs' %}"><button type="button">View All</button></a>
    </form>
    
    <br><br>
    <h2>Past Jobs</h2>

    <ul>
        {% for job in past_jobs %}
            <li class="job-container {% if job.color == 'red' %}red-job{% elif job.color == 'orange' %}orange-job{% elif job.color == 'green' %}green-job{% else %}white-job{% endif %}">
                <div class="job-tag-container">
                    <span class="job-added-by-tag">
                        {% if job.created_by %}
                            Added by: {{ job.created_by.get_full_name|default:job.created_by.username }}
                        {% else %}
                            Added by: Unknown
                        {% endif %}
                    </span>
                    {% if job.last_modified_by %}
                        <span class="job-edited-by-tag">
                            Edited by: {{ job.last_modified_by.get_full_name|default:job.last_modified_by.username }}
                        </span>
                    {% endif %}
                </div>
                <span class="customer-name">{{ job.customer_name|truncate_words_chars }}</span>
                <div class="job-info">
                    <span class="slim">{{ job.job_date }}</span>
                    <span class="phone">{{ job.job_time|time_format }}</span>
                    <span class="phone">{{ job.job_price }} {{ job.job_currency }}</span>
                    <span class="phone">{{ job.pick_up_location |truncate_words_chars }}</span>
                </div>
                <span class="button-group">
                    <a href="{% url 'jobs:edit_job' job.id %}" class="button phone">Edit</a>
                    <a href="{% url 'jobs:view_job' job.id %}" class="button">View</a>
                </span>
            </li>
        {% empty %}
            <li>No past jobs.</li>
        {% endfor %}
    </ul>

    <!-- Pagination Controls -->
    <div class="pagination">
        <span class="step-links">
            {% if past_jobs.has_previous %}
                <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-btn">&laquo; First</a>
                <a href="?page={{ past_jobs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-btn">Previous</a>
            {% else %}
                <span class="pagination-btn" disabled>&laquo; First</span>
                <span class="pagination-btn" disabled>Previous</span>
            {% endif %}

            <span class="current-page">
                Page {{ past_jobs.number }} of {{ past_jobs.paginator.num_pages }}.
            </span>

            {% if past_jobs.has_next %}
                <a href="?page={{ past_jobs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-btn">Next</a>
                <a href="?page={{ past_jobs.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-btn">Last &raquo;</a>
            {% else %}
                <span class="pagination-btn" disabled>Next</span>
                <span class="pagination-btn" disabled>Last &raquo;</span>
            {% endif %}
        </span>
    </div>
</div>
<div class="mobile-bottom-nav">
    <a href="{% url 'home' %}" class="mobile-nav-item">
        <i class="fas fa-home"></i>
        <div>Home</div>
    </a>
    <a href="{% url 'jobs:enquiries' %}" class="mobile-nav-item">
        <i class="fas fa-question-circle"></i>
        <div>Enquiries</div>
    </a>
    <a href="{% url 'common:services' %}" class="mobile-nav-item">
        <i class="fas fa-cogs" style="color: purple;"></i>
        <div style="color: purple;">Services</div>
    </a>
    <a href="{% url 'common:admin' %}" class="mobile-nav-item">
        <i class="fas fa-user-shield" style="color: orange;"></i>
        <div style="color: orange;">Admin</div>
    </a>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}