{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}View Job{% endblock %}

{% block content %}
<div class="view">
    <div class="buttons">
        <div class="left-buttons">
            <a href="{% url 'home' %}" class="button">Back to Home</a>
            <a href="{% url 'jobs:enquiries' %}" class="button">Back to Enquiries</a>
            <a href="{% url 'jobs:past_jobs' %}" class="button">Back to Past Jobs</a>
            <button onclick="copyJobDetails()" class="button">Copy Job Details</button>
        </div>
    </div>
    <!-- Success Message -->
    <p id="copy-success" style="display: none; color: green;">Job details copied to clipboard!</p>
    <br>
    <h2>View Job</h2>
    <p><strong>Customer Name:</strong> {{ job.customer_name|default_if_none:"" }}</p>
    <p><strong>Customer Number:</strong> {{ job.customer_number|default_if_none:"" }}</p>
    <p><strong>Job Date:</strong> {{ job.job_date|default_if_none:"" }}</p>
    <p><strong>Job Time:</strong> {{ job.job_time|time_format|default_if_none:"" }}</p>
    <p><strong>Pick-up Location:</strong> {{ job.pick_up_location|default_if_none:"" }}</p>
    <p><strong>Drop-off Location:</strong> {{ job.drop_off_location|default_if_none:"" }}</p>
    <p><strong>flight Number:</strong> {{ job.flight_number|default_if_none:"" }}</p>
    <p><strong>Job Description:</strong> {{ job.job_description|default_if_none:"" }}</p>
    <p><strong>No of Passengers:</strong> {{ job.no_of_passengers|default_if_none:"" }}</p>
    <p><strong>Vehicle Type:</strong> {{ job.vehicle_type|default_if_none:"" }}</p>
    <p><strong>Kilometers:</strong> {{ calculation.kilometers|default_if_none:"" }}</p>
    <!-- <p><strong>Payment Type:</strong> {{ job.payment_type|default_if_none:"" }}</p> -->
    <p>
        <strong>Job Price:</strong> 
        €{{ job.job_price_in_euros|intcomma|default_if_none:"" }} 
        {% if job.job_currency != 'EUR' %} 
            ({% if job.job_currency == 'GBP' %}£{% elif job.job_currency == 'USD' %}${% elif job.job_currency == 'HUF' %}Ft {% else %}{{ job.job_currency }}{% endif %}{{ job.job_price|intcomma|default_if_none:"" }}) 
        {% endif %}
        
        <!-- {% if job.payment_type == 'Card' %} 
            <strong> | Credit Card Fee:</strong> 
            {% if job.job_currency == 'EUR' %}
                €{{ job.cc_fee|intcomma|default_if_none:"" }} 
                (€{{ total_with_cc_fee|intcomma|default_if_none:"" }})
            {% elif job.job_currency == 'GBP' %}
                £{{ job.cc_fee|intcomma|default_if_none:"" }} 
                (£{{ total_with_cc_fee|intcomma|default_if_none:"" }})
            {% elif job.job_currency == 'HUF' %}
                Ft {{ job.cc_fee|intcomma|default_if_none:"" }} 
                (Ft {{ total_with_cc_fee|intcomma|default_if_none:"" }})
            {% elif job.job_currency == 'USD' %}
                ${{ job.cc_fee|intcomma|default_if_none:"" }} 
                (${{ total_with_cc_fee|intcomma|default_if_none:"" }})
            {% endif %}
        {% endif %} -->
    </p>
    <p>
        <strong>Driver Fee:</strong> 
        {% if job.driver_fee_in_euros %}
            €{{ job.driver_fee_in_euros }}  
            {% if job.driver_currency != 'EUR' %} 
                ({% if job.driver_currency == 'GBP' %}£{% elif job.driver_currency == 'USD' %}${% elif job.driver_currency == 'HUF' %}Ft {% else %}{{ job.driver_currency }}{% endif %}{{ job.driver_fee }})
            {% endif %}
        {% endif %}
    </p>
    <p><strong>Driver Name:</strong> 
        {% if job.driver %}
            {{ job.driver.name }} (Driver)
        {% elif job.driver_agent %}
            {{ job.driver_agent.name }} (Agent)
        {% else %}
            Not assigned
        {% endif %}
    </p>
    <p><strong>Number Plate:</strong> {{ job.number_plate|default_if_none:"" }}</p>
    <p><strong>Hours Worked:</strong> {{ job.hours_worked|default_if_none:"" }}</p>
    <p><strong>Agent Name:</strong> {{ job.agent_name.name|default_if_none:"" }}</p>
    <p><strong>Agent Fee:</strong> {% if job.agent_percentage %}{{ job.agent_percentage }}%{% endif %}</p>
    <!-- {% if freelancer_name and freelancer_name != "-" %}
        <p><strong>Freelancer:</strong> {{ freelancer_name }}</p>
    {% endif %} -->
    <p>
        <strong>Subtotal:</strong>
        {% if job.subtotal %}
            €{{ job.subtotal|intcomma }} 
            (Job price: €{{ job.job_price_in_euros|intcomma }} - Driver fee: €{{ job.driver_fee_in_euros|intcomma }} - Agent fee: 
            {% if job.agent_percentage == '5' %}
                €{{ job.job_price_in_euros|mul:0.05|floatformat:2|intcomma }}
            {% elif job.agent_percentage == '10' %}
                €{{ job.job_price_in_euros|mul:0.10|floatformat:2|intcomma }}
            {% elif job.agent_percentage == '50' %}
                €{{ job.job_price_in_euros|floatformat:2|intcomma }} - €{{ job.driver_fee_in_euros|floatformat:2|intcomma }} x 50%
            {% else %}
                €0.00
            {% endif %}
            )
        {% else %}
            Not available
        {% endif %}
    </p>
    <br>
    <!-- Payments Section -->
    <h3>Payments</h3>
    <div class="payments-list">
        {% for payment in job.payments.all %}
            <p>
                <strong>Payment {{ forloop.counter }}:</strong> 
                Amount: 
                {% if payment.payment_currency == 'HUF' %}
                    Ft {{ payment.payment_amount }}
                {% else %}
                    {{ payment.payment_currency|currency_symbol }}{{ payment.payment_amount }}
                {% endif %}
                | Payment Type: {{ payment.payment_type }} | 
                Paid To: 
                {% if payment.paid_to_agent %}
                    Agent: {{ payment.paid_to_agent.name }}
                {% elif payment.paid_to_driver %}
                    Driver: {{ payment.paid_to_driver.name }}
                {% elif payment.paid_to_staff %}
                    Staff: {{ payment.paid_to_staff.name }}
                {% else %}
                    Not specified
                {% endif %}
                
                {% if payment.payment_type == 'Card' %}
                    | <strong>Credit Card Fee:</strong> 
                    {% if payment.payment_currency == 'HUF' %}
                        Ft {{ payment.cc_fee|intcomma }}
                    {% else %}
                        {{ payment.payment_currency|currency_symbol }}{{ payment.cc_fee|intcomma }}
                    {% endif %}
                    | <strong>Total with Fee:</strong> 
                    {% if payment.payment_currency == 'HUF' %}
                        Ft {{ payment.total_with_cc_fee|intcomma }}
                    {% else %}
                        {{ payment.payment_currency|currency_symbol }}{{ payment.total_with_cc_fee|intcomma }}
                    {% endif %}
                {% endif %}
                | <strong>Amount in Euros:</strong> 
                {% if payment.payment_amount_in_euros %}
                    €{{ payment.payment_amount_in_euros|intcomma }}
                {% else %}
                    Not available
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <br>
    <form method="POST" action="{% url 'jobs:update_job_status' job.id %}">
        {% csrf_token %}

        <!-- Modal Trigger if Error -->
        {% if error_message %}
        <p id="modal-trigger" style="display:none;">{{ error_message }}</p>
        {% endif %}

        <p><strong>Confirm Job:</strong> 
            <input class="sbig" type="checkbox" id="is_confirmed" name="is_confirmed" {% if job.is_confirmed %}checked{% endif %}>
        </p>

        <p><strong>Customer Paid:</strong> 
            <input class="sbig" type="checkbox" id="is_paid" name="is_paid" {% if job.is_paid %}checked{% endif %}>
        </p>
    
        <!-- {% if user.is_superuser %}
        <p><strong>All Paid (Job Completed):</strong> 
            <input class="sbig" type="checkbox" id="is_completed" name="is_completed" {% if job.is_completed %}checked{% endif %}>
        </p>
        {% endif %} -->

        <p><strong>Freelancer Job:</strong> 
            <input class="sbig" type="checkbox" id="is_freelancer" name="is_freelancer" {% if job.is_freelancer %}checked{% endif %}>
        </p>
    
    
        <button type="submit" class="button">Update Status</button>
    </form>

    <div class="button-group">
        <a href="{% url 'jobs:edit_job' job.id %}" class="button">Edit</a>
        <a href="{% url 'jobs:delete_job' job.id %}" class="button cancel-button">Delete</a>
    </div>
    
</div>
<div class="mobile-bottom-nav">
    <a href="{% url 'home' %}" class="mobile-nav-item">
        <i class="fas fa-home"></i>
        <div>Home</div>
    </a>
    <a href="{% url 'jobs:past_jobs' %}" class="mobile-nav-item">
        <i class="fas fa-history"></i>
        <div>Past Jobs</div>
    </a>
    <a href="{% url 'jobs:enquiries' %}" class="mobile-nav-item">
        <i class="fas fa-question-circle"></i>
        <div>Enquiries</div>
    </a>
    <a href="{% url 'common:services' %}" class="mobile-nav-item">
        <i class="fas fa-cogs" style="color: purple;"></i>
        <div style="color: purple;">Services</div>
    </a>

    <a href="#" class="floating-add-button" onclick="copyJobDetails()">
        <i class="fas fa-copy"></i>
    </a>
</div>

<!-- Modal Structure -->
<div id="error-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <p id="modal-message">{{ error_message }}</p>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    // Function to copy job details in the specified order with conditional fields
    function copyJobDetails() {
        let jobDetails = `*Name:* {{ job.customer_name|default_if_none:""|escapejs }}
*Number:* {{ job.customer_number|default_if_none:""|escapejs }}
*Job Date:* {{ job.job_date|default_if_none:""|escapejs }}
*Job Time:* {{ job.job_time|time_format|default_if_none:""|escapejs }}`;

        // Add Flight Number only if it's filled out
        let flightNumber = `{{ job.flight_number|default_if_none:""|escapejs }}`;
        if (flightNumber) {
            jobDetails += `\n*Flight Number:* ${flightNumber}`;
        }

        jobDetails += `
*Pick-up Location:* {{ job.pick_up_location|default_if_none:""|escapejs }}
*Drop-off Location:* {{ job.drop_off_location|default_if_none:""|escapejs }}
*No of Passengers:* {{ job.no_of_passengers|default_if_none:""|escapejs }}
*Vehicle Type:* {{ job.vehicle_type|default_if_none:""|escapejs }}
*Job Price:* €{{ job.job_price_in_euros|intcomma|default_if_none:""|escapejs }}`;

        // Add Job Description only if it's filled out
        let jobDescription = `{{ job.job_description|default_if_none:""|escapejs }}`;
        if (jobDescription) {
            jobDetails += `\n*Job Description:* ${jobDescription}`;
        }

        const tempTextArea = document.createElement('textarea');
        tempTextArea.value = jobDetails;
        document.body.appendChild(tempTextArea);

        tempTextArea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextArea);

        document.getElementById('copy-success').style.display = 'block';

        setTimeout(function() {
            document.getElementById('copy-success').style.display = 'none';
        }, 2000);
    }
</script>
<script src="{% static 'script.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkbox = document.getElementById('is_freelancer');
        const dropdown = document.getElementById('freelancer-dropdown');

        checkbox.addEventListener('change', function () {
            dropdown.style.display = this.checked ? 'block' : 'none';
        });
    });
</script>
{% endblock %}