{% extends 'base/base_services.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Edit Guest{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Guest</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <p><strong>Confirm Booking:</strong> 
                <input class="sbig" type="checkbox" id="id_is_confirmed" name="is_confirmed"
                    {% if form.is_confirmed.value %}checked{% endif %}>
            </p>
            <p><strong>Freelancer Job:</strong>
                <input class="sbig" type="checkbox" id="id_is_freelancer" name="is_freelancer"
                    {% if form.is_freelancer.value %}checked{% endif %}>
            </p>
        </div>
        
        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="customer_name">Customer Name:*</label>
                {{ form.customer_name }}
            </div>
            <div class="field-wrapper">
                <label for="customer_number">Customer Number:*</label>
                {{ form.customer_number }}
            </div>
        </div>

        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="hotel_name">Hotel Name:*</label>
                {{ form.hotel_name }}
            </div>
            <div class="field-wrapper">
                <label for="hotel_branch">Hotel Branch:</label>
                {{ form.hotel_branch }}
            </div>
        </div>
      
        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="check_in">Check-in Date and Time:*</label>
                {{ form.check_in }}
            </div>
            <div class="field-wrapper">
                <label for="check_out">Check-out Date and Time:*</label>
                {{ form.check_out }}
            </div>
        </div>

        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="no_of_people">Number of People:</label>
                {{ form.no_of_people }}
            </div>
            <div class="field-wrapper">
                <label for="rooms">Number of Rooms:</label>
                {{ form.rooms }}
            </div>
            <div class="field-wrapper">
                <label for="no_of_beds">Number of Beds (per room):</label>
                {{ form.no_of_beds }}
            </div>
        </div>
      
        <div class="bed-types-container" style="display: flex; flex-wrap: wrap;">
            {% for field in bed_type_fields %}
                <div class="bed-type-row">
                    <label>{{ field.label }}</label>
                    <div style="display: flex;">
                        {{ field }}
                        <div class="bed-type-buttons">
                            <button type="button" class="bed-type-plus">+</button>
                            <button type="button" class="bed-type-minus">-</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
          <br>
      
        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="booking_ref">Booking Reference:</label>
                {{ form.booking_ref }}
            </div>
            <div class="field-wrapper">
                <label for="hotel_tier">Hotel Tier:</label>
                {{ form.hotel_tier }}
            </div>
        </div>
      
        <div>
            <label for="special_requests">Special Requests:</label>
            {{ form.special_requests }}
        </div>

        <!-- <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="payment_type">Payment Type:</label>
                {{ form.payment_type }}
            </div>
            <div class="field-wrapper">
                <label for="payment_type">Paid To:</label>
                {{ form.paid_to }}
            </div>
        </div> -->
      
        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="hotel_price">Customer Pays:</label>
                {{ form.customer_pays }}
            </div>
            <div class="field-wrapper">
                <label for="hotel_currency">Currency:</label>
                {{ form.customer_pays_currency }}
            </div>
        </div>

        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="hotel_price">Hotel Price:</label>
                {{ form.hotel_price }}
            </div>
            <div class="field-wrapper">
                <label for="hotel_currency">Currency:</label>
                {{ form.hotel_price_currency }}
            </div>
        </div>

        <div class="form-group-inline">
            <div class="field-wrapper">
                <label for="agent">Agent:</label>
                {{ form.agent }}
            </div>
            <div class="field-wrapper">
                <label for="agent_percentage">Agent Fee:</label>
                {{ form.agent_percentage }}
            </div>
        </div>

         <!-- Payments Section -->
        <div id="payment-section">
            <h3>Payments</h3>
            {{ payment_formset.management_form }}
            {% for payment_form in payment_formset %}
                <div class="payment-entry payment-container" data-payment-number="{{ forloop.counter }}">
                    {% if forloop.counter > 1 %}
                        <h4>Payment {{ forloop.counter }}</h4>
                    {% endif %}
                    <div class="form-group-inline">
                        <div class="field-wrapper">
                            <label>Amount</label><br>
                            {{ payment_form.payment_amount }}
                        </div>
                        <div class="field-wrapper">
                            <label>Currency</label><br>
                            {{ payment_form.payment_currency }}
                        </div>
                    </div>
                    <div class="form-group-inline">
                        <div class="field-wrapper">
                            <label>Payment Type</label><br>
                            {{ payment_form.payment_type }}
                        </div>
                        <div class="field-wrapper">
                            <label>Paid To</label><br>
                            {{ payment_form.paid_to }}
                        </div>
                    </div>
                    {{ payment_form.DELETE }}
                    {{ payment_form.id }}
                    <button type="button" class="remove-payment">Remove Payment</button>
                </div>
            {% endfor %}
            <button type="button" id="add-payment">Add Payment</button>
        </div>
      
        <div class="button-group">
            <button class="button-purple" type="submit" id="save-button">Save Changes</button>
            <a href="{% url 'home' %}" class="button cancel-button">Cancel</a>
        </div>

        <!-- Modal Trigger if Error -->
        {% if error_message %}
        <p id="modal-trigger" style="display:none;">{{ error_message }}</p>
        {% endif %}

        <!-- Modal Structure -->
        <div id="error-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <p id="modal-message">{{ error_message }}</p>
            </div>
        </div>

        {% if form.errors or payment_formset.errors %}
            <div class="errors">
                <h2>Form Errors:</h2>
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field|capfirst }}: {{ errors|striptags }}</li>
                    {% endfor %}
                    {% for form in payment_formset %}
                        {% for field, errors in form.errors.items %}
                            <li>Payment {{ forloop.parentloop.counter }}: {{ field|capfirst }} - {{ errors|striptags }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
      </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            function closeModal() {
                const modal = document.getElementById("error-modal");
                if (modal) {
                    modal.style.display = "none";
                }
            }
            window.closeModal = closeModal;
    
            // Tabs logic
            document.querySelectorAll('.tab-btn').forEach(button => {
                button.addEventListener('click', () => {
                    document.querySelectorAll('.tab-btn').forEach(btn => btn.classList.remove('active'));
                    document.querySelectorAll('.tab-content').forEach(tab => tab.classList.remove('active'));
    
                    button.classList.add('active');
                    document.getElementById(button.dataset.tab).classList.add('active');
                });
            });
        });
    </script>
    <script>
        // JavaScript for handling the plus and minus buttons
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.bed-type-plus').forEach(function(button) {
                button.addEventListener('click', function() {
                    let input = this.closest('.bed-type-row').querySelector('.bed-type-quantity');
                    let value = parseInt(input.value);
                    input.value = value + 1;
                });
            });

            document.querySelectorAll('.bed-type-minus').forEach(function(button) {
                button.addEventListener('click', function() {
                    let input = this.closest('.bed-type-row').querySelector('.bed-type-quantity');
                    let value = parseInt(input.value);
                    if (value > 0) {
                        input.value = value - 1;
                    }
                });
            });
        });
    </script>
    <script src="{% static 'edit_payment.js' %}"></script>
{% endblock %}